.address-title{
    margin: 1rem;
    text-align: center;
}
.form-style{
    display: block;
    margin-left: 32.5%;
    align-items: start;
    position: relative;
}
.form{
    overflow: hidden;
}

.input-checkbox{
    margin-right: 0.75rem;
}
.input-name{
 font-size: 70%;
 color: var(--lighter-primary2-color);
}
.input-checkbox-name{

}
.line{
    position: absolute;
    left: -50%;
    width: 100vw;
    border-top: 0.1px solid #d2d2d2;
}
.margin-top{
    margin-top: 1rem;
}
input.ng-touched.ng-invalid{
    border: 1px solid red;
}


.cart-navigation{
    display: flex;
    justify-content: space-between;
    margin: 2rem 3rem;
}
.cart-navidation-btn{
    font-size: 1.2rem;
    padding: 0.2rem 0.5rem;
    background-color: var(--primary-primary1-color);
    border-radius: 5px;
    border: 1px solid var(--darker-primary1-color);
    cursor: pointer;
    color: var(--white-color);
}
.cart-navidation-btn:hover{
    color: var(--darker-primary2-color);
    transition: 0.1s linear;
}
@media screen  and (max-width:550px){
    .total{
        margin: 1rem 0.5rem;
    }
    .cart-navigation{
        margin: 5rem 0.5rem;
    }
    .form-style{
    margin-left: 22.5%;
}
}