<app-cart-navigation></app-cart-navigation>

<app-input-data [userData]="this.data" [submitBtnName]="this.resources.summarryPageTitle" (formData)="item($event)" ></app-input-data>

    
    <div class="cart-wrapper cart-navigation">
        <button class="cart-navidation-btn" [routerLink]="'/'+this.resources.billingPageTitle"
        [attr.data-type]="summary.backToShipping">
        <fa-icon [icon]="this.resources.arrowLeft" class="cart-navidation-icon"></fa-icon>
        Back to {{this.resources.billingPageTitle}}
    </button>
    <!-- <button class="cart-navidation-btn"   [attr.data-type]="summary.summary">
        {{this.resources.summarryPageTitle}}
        <fa-icon [icon]="this.resources.arrowRight" class="cart-navidation-icon"></fa-icon>
    </button> -->
</div>
<!-- </form> -->