<app-cart-navigation></app-cart-navigation>
<app-loader *ngIf="this.loader"></app-loader>
<app-error *ngIf="!this.loader && this.items.length == 0" [errorText]="'Your cart is empty!'"></app-error>
<app-error *ngIf="this.error == true" [errorText]="'Something whet wrong!'"></app-error>

<div class="cart-wrapper" *ngIf="this.items !== undefined && this.error !== true">

    <div class="cart-single-element" [attr.data-type]="attr.cartSingleItem+i" *ngFor="let item of this.items; let i=index" > <!-- treba sem pridat k data-type cislo iteracie, teda index i  -->
        <div class="cart-info">
            <img src="{{item.image}}" alt="" class="cart-image" [attr.data-type]="attr.cartImage+i">
            <h5 class="cart-title" [attr.data-type]="attr.cartTitle+i">{{item.title}}</h5>
            <h5 class="cart-price" [attr.data-type]="attr.cartPrice+i">{{item.price}}€</h5>
            <input type="number" value="{{item.amount}}" class="cart-count" [attr.data-type]="attr.cartCount+i" (change)="amountChange(item.idItems, $event)">
            <h4 class="cart-single-total-price" [attr.data-type]="attr.cartPriceWithAccesories+i">{{this.common.totalItemPrice(item.price, item.waranty, item.returnOption, item.amount)}} €</h4>
            <button class="close close-mobile" [attr.data-type]="attr.cartDeleteItem+i" (click)="deleteItem(item.idItems)">
                <fa-icon [icon]="this.resources.close" class="close-icon close-icon-mobile"></fa-icon>
            </button>
        </div>
        <div class="cart-additional" *ngIf="item.waranty">
            <p class="cart-additional-label" [attr.data-type]="attr.cartWarrantyTitle+i">{{this.resources.cartWarranty}}</p>
            <h5 class="cart-additional-price" [attr.data-type]="attr.cartWarrantyPrice"+i>20 €</h5>
            <button class="close" [attr.data-type]="attr.cartWarrantyDelete+i" (click)="deleteWaranty(item.idItems)">
                <fa-icon [icon]="this.resources.close" class="close-icon"></fa-icon>
            </button>
        </div>
        <div class="cart-additional" *ngIf="item.returnOption">
            <p class="cart-additional-label" [attr.data-type]="attr.cartReturnOptionTitle+i">{{this.resources.cartReturnOption}}</p>
            <h5 class="cart-additional-price" [attr.data-type]="attr.cartReturnOptionPrice+i">10 €</h5>
            <button class="close" [attr.data-type]="attr.cartReturnOptionDelete+i" (click)="deleteReturnOption(item.idItems)">
                <fa-icon [icon]="this.resources.close" class="close-icon"></fa-icon>
            </button>
        </div>
    </div>

</div>

<div class="cart-wrapper total-wrapper"  *ngIf="this.items !== undefined && this.error !== true">
    <div class="total">
        <h5 [attr.data-type]="attr.cartPriceWithoutDPHTitle">{{this.resources.cartPriceWithoutDPH}}</h5>
        <p class="cart-total-price" [attr.data-type]="attr.cartPriceWithoutDPHPrice">{{this.common.allItemsPrice(this.items)}} €</p>
    </div>
    <div class="total">
        <h5 [attr.data-type]="attr.cartDPHTitle">{{this.resources.cartDPH}}</h5>
        <p class="cart-total-price" [attr.data-type]="attr.cartDPHPrice">+ 20 %</p>

    </div>
    <div class="total">
        <h4 [attr.data-type]="attr.cartTotalPriceTitle">{{this.resources.cartTotalPrice}}</h4>
        <h4 class="cart-total-price" [attr.data-type]="attr.cartTotalPricePrice">{{this.common.amountWithDPH(this.common.allItemsPrice(this.items))}} €</h4>
    </div>
</div>

<div class="cart-wrapper cart-navigation"  *ngIf="this.items !== undefined && this.error !== true">
    <button class="cart-navidation-btn" [routerLink]="'/'+this.resources.mainPageURL" [attr.data-type]="attr.cartBackToShopNavigation">
        <fa-icon [icon]="this.resources.arrowLeft" class="cart-navidation-icon"></fa-icon>
        {{this.resources.cartBactToShopingNavigation}}
    </button>
    <button  *ngIf="!this.loader && this.items.length !== 0" class="cart-navidation-btn" [attr.data-type]="attr.cartBillingNavigation" [routerLink]="'/'+this.resources.billingPageTitle">
        {{this.resources.cartBillingNavigation}}
        <fa-icon [icon]="this.resources.arrowRight" class="cart-navidation-icon"></fa-icon>
    </button>
</div>
