<h4 class="my-orders-title" [attr.data-type]="attr.myOrdersTopTitle">{{this.resources.myOrdersTitle}}</h4>

<app-error [errorText]="errorMessage" *ngIf="error"></app-error>
<app-loader *ngIf="this.loader"></app-loader>

<div class="cart-wrapper">
    <div style="margin: 1rem;"  [attr.data-type]="attr.myOrdersItemDiv + element.orderId" *ngFor="let element of this.items; let i = index">
        <div class="my-order-hadline" (click)="showDetails($event)" [attr.data-type]="attr.myOrdersItemHeadline + i">
            <p class="my-order-text" [attr.data-type]="attr.myOrdersID + i">{{this.resources.myOrderID}}{{element.orderId}}</p>
            <p class="my-order-text" [attr.data-type]="attr.myOrdersTitle + i">{{this.resources.myOrderTime}}{{element.date.slice(1, -1)}}</p>
            <p class="my-order-text" [attr.data-type]="attr.myOrdersTotalPrice + i">Total price: {{this.common.amountWithDPH(this.common.allItemsPrice(element.item))}} €</p>
            <button class="my-order-buton" [attr.data-type]="attr.myOrdersArrow + i">
                <fa-icon [icon]="this.resources.arrowDown"></fa-icon>
            </button>
        </div>
        <div class="cart-single-element hide" [attr.data-type]="attr.myOrdersSingleItem +i ">
            <!-- treba sem pridat k data-type cislo iteracie, teda index i  -->
            <div *ngFor="let item of element.item; let i2 = index">
                <div class="cart-info">
                    <img src="{{item.image}}" alt="" class="cart-image" [attr.data-type]="attr.myOrdersImage+i2">
                    <h5 class="cart-title" [attr.data-type]="attr.myOrdersTitle + i2">{{item.title}}</h5>
                    <h5 class="cart-price" [attr.data-type]="attr.myOrdersCount">{{item.price}} €</h5>
                    <h4 class="cart-single-total-price" [attr.data-type]="attr.myOrdersPriceWithAccesories">{{this.common.totalItemPrice(item.price, item.waranty, item.returnOption, item.amount)}} €</h4>
                </div>
                <div class="cart-additional" [attr.data-type]="attr.myOrdersWarrantyDiv" *ngIf="item.waranty">
                    <p class="cart-additional-label" [attr.data-type]="attr.myOrdersWarrantyTitle">
                        {{this.resources.cartWarranty}}
                    </p>
                    <h5 class="cart-additional-price" [attr.data-type]="attr.myOrdersWarrantyPrice">20 €</h5>
                </div>
                <div class="cart-additional" [attr.data-type]="attr.myOrdersReturnOptionDiv" *ngIf="item.returnOption">
                    <p class="cart-additional-label" [attr.data-type]="attr.myOrdersReturnOptionTitle">
                        {{this.resources.cartReturnOption}}</p>
                    <h5 class="cart-additional-price" [attr.data-type]="attr.myOrdersReturnOptionPrice">10 €</h5>
                </div>
            </div>
        </div>        
    </div>
    

</div>