.modal-wrapper{
    position: fixed;
    top: 0;
    left: -50%;
    width: 150%;
    height: 150%;
    background-color: rgba(210, 210, 210, 0.4);
    z-index: 20;
}
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 1rem;
    box-shadow: 0  0 5px; 
    border-radius: 5px;
    z-index: 10;
    border: 2px solid var(--dark-primary1-color);

}
.button{
    margin: 1rem auto;
    display: block;
    padding: 0.2rem 0.5rem;
    background-color: var(--lighter-primary1-color);
    border: solid 1px var(--primary-primary1-color);
    border-radius: 3px;
    box-shadow: 0 0 5px;
    font-size: 110%;
    cursor: pointer;
}

.close-button{
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 1.2rem;
    color: red;
    border: none;
    background-color: transparent;
    cursor: pointer;
}