<h4 class="user-account-title" [attr.data-type]="attr.userProfileTitle">{{this.resources.userProfileTitle}}</h4>

<app-error [errorText]="errorMessage" *ngIf="error"></app-error>
<app-input-data [submitBtnName]="'Save'" (formData)="getFormData($event)"></app-input-data>


<app-error [errorText]="errorMessageCredentials" *ngIf="errorCredentials"></app-error>
<h5 class="user-account-title martin-top" [attr.data-type]="attr.changeCredentialsTitle">{{this.resources.userProfileCredentialsTitle}}</h5>
<div class="form-margin">
    <form action="" [formGroup]="credentials" #ngFormCredentials="ngForm" class="form alighn" (ngSubmit)="saveValuesCredentials()">
        <fieldset class="input-wrapper" [disabled]="isDisabledCredentials" [attr.data-type]="attr.addressDiv" [disabled]="isDisabledCredentials">
            <label class="input-name" [attr.data-type]="attr.addressLabel">{{this.resources.userProfileUsername}}</label>
            <input type="text" formControlName="username" class="input alighn" placeholder="Insert {{this.resources.userProfileUsername}}"
                [attr.data-type]="attr.addressInput">
            <span
                *ngIf="credentials.get('username')!.touched && credentials.get('username')!.invalid || ngFormCredentials.submitted && credentials.get('username')!.invalid"
                class="invalid">Insert value!</span>
        </fieldset><br>
        <fieldset class="input-wrapper" [disabled]="isDisabledCredentials" [attr.data-type]="attr.addressDiv" [disabled]="isDisabledCredentials">
            <label class="input-name" [attr.data-type]="attr.addressLabel">{{this.resources.userProfilePassword}}</label>
            <input type="password" formControlName="password" class="input alighn" placeholder="Insert {{this.resources.userProfilePassword}}"
                [attr.data-type]="attr.addressInput">
            <span
                *ngIf="credentials.get('password')!.touched && credentials.get('password')!.invalid || ngFormCredentials.submitted && credentials.get('password')!.invalid"
                class="invalid">Insert value!</span>
        </fieldset><br>
        <fieldset class="input-wrapper" [disabled]="isDisabledCredentials" [attr.data-type]="attr.addressDiv" [disabled]="isDisabledCredentials">
            <label class="input-name" [attr.data-type]="attr.addressLabel">{{this.resources.userProfilePasswordConfirmation}}</label>
            <input type="password" formControlName="passwordConfirmation" class="input alighn" placeholder="Insert {{this.resources.userProfilePasswordConfirmation}}"
                [attr.data-type]="attr.addressInput">
            <span
                *ngIf="credentials.get('passwordConfirmation')!.touched && credentials.get('passwordConfirmation')!.invalid || ngFormCredentials.submitted && credentials.get('passwordConfirmation')!.invalid"
                class="invalid">Insert value!</span>
        </fieldset><br>
            <div class="user-accout-buttons2">
                <input type="submit" class="edit-button" (click)="changeValuesCredentials()" *ngIf="editButtonCredentials"
                    [attr.data-type]="attr.changeCredentialsBtn" value="Change Credentials">
                <input type="submit" class="edit-button" value="Save" *ngIf="!editButtonCredentials"
                    [attr.data-type]="attr.saveCredentialsBtn">
            </div>
        </form>
    </div>