.user-profile-wrapper{
    /* display: grid;
    grid-template-columns: 1fr auto 1fr; */
    position: relative;
}
.user-accout-buttons{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.address-title{
    margin: 1rem;
    text-align: center;
}
.form-style{
    display: block;
    margin-left: 32.5%;
    align-items: start;
    position: relative;
}
.form{
    overflow: hidden;
}
.input-wrapper{
    display: flex;
    flex-direction: column;
    border: none;
}
.input-checkbox{
    margin-right: 0.5rem;
}
.input-name{
 font-size: 70%;
 color: var(--lighter-primary2-color);
}
*:disabled {

    opacity: 0.6;
}
.wrapper{
    /* margin-left: 20%; */

}
.items{
  width: 70%;
  margin-left: 20%;
}

.split{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-items: center;
}
.input-checkbox{
    border: none;
}
.user-account-title{
    text-align: center;
    margin: 2rem;
}
.martin-top{
  margin-top: 6rem;
}
.line{
    position: absolute;
    /* top: 20%; */
    left: -50%;
    width: 100vw;
    border-top: 0.1px solid #d2d2d2;
}
.margin-top{
    margin-top: 1rem;
}
input.ng-touched.ng-invalid{
    border: 1px solid red;
}

/* .edit-button{
    width: 35%;
    cursor: pointer;
    border-radius: 15px;
    font-size: 1.2rem;
    padding: 0.35rem 0.5rem;
    background-color: var(--lighter-primary1-color);
    border: 1px solid var(--darker-primary1-color);
    color: var(--white-color);
    font-weight: 500;
    outline-offset: 5px;
    outline: 1px solid var(--darker-primary1-color);
    margin: 2rem auto;
    display: block;
} */
.button{
    width: 135%;
}

.form-margin{
  margin-bottom: 10rem;
}


@media screen and (max-width:650px) {
  .split{
    display: block;
  }
  .user-accout-buttons{
        bottom: -5rem;
  }
  .form-margin{
    margin-bottom: 0;
  }
  .edit-button{
    width: auto;
  }
}
